* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
}

img {
  filter: grayscale(100%);
  transition: filter .3s;
}
img:hover {
  filter: grayscale(0);
}

.inner {
  max-width: 1220px;
  width: 95%;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 32px;
  border-bottom: 2px solid black;
}

nav li {
  display: inline-block;
}

nav ul a {
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 8px 8px;
  transition: color .3s;
}
nav ul a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  transition: width .3s;
  z-index: -1;
}
nav ul a:hover::before {
  width: 100%;
}
nav ul a:hover {
  color: white;
}

header .logo {
  height: calc(100% - 8px);
}
header .logo img {
  height: 100%;
}

footer {
  background-color: black;
  color: white;
  padding: 64px;
}
footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer img {
  height: 130px;
  float: left;
  display: block;
  margin-right: 1em;
}
footer a {
  color: white;
  margin-top: 1em;
  display: inline-block;
}
footer .other-nav a {
  color: white;
}
footer .other-nav a:hover {
  text-decoration: underline;
}

section {
  padding: 64px 0;
}

@media (max-width: 480px) {

}
.home {
  transition: .3s;
}

@media (min-width: 481px) and (max-width: 767px) {
  .home {
    background-color: #15202B;
    color: white;
  }
  .home h2::before {
    background-color: white;
  }
  .home .DS-button {
    border-color: white;
  }
  .home nav ul a {
    color: white;
  }
  .home nav ul a:hover {
    color: black;
  }
  .home nav ul a::before {
    background-color: white;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home {
    background-color: #000000;
    color: white;
  }
  .home h2::before {
    background-color: white;
  }
  .home .DS-button {
    border-color: white;
  }
  .home nav ul a {
    color: white;
  }
  .home nav ul a:hover {
    color: black;
  }
  .home nav ul a::before {
    background-color: white;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
  }

}
