
.float .first-image {
  float: left;
}
.float img {
  margin-right: 1em;
}


.gorilla-card {
  clear: both;
  padding: 1em;
  margin-top: 2em;
  border-radius: .25em;
  background-color: green;
  box-shadow: 0 10px 20px #00000020;
}
.gorilla-card .first-image {
  float: left;
  margin-right: 1em;
}
.gorilla-card .link {
  position: relative;
  height: 40px;
}
.gorilla-card .link a {
  position: absolute;
  right: 0;
  display: block;
  padding: .5em;
}


article {
  min-height: 120px;
}

.hero {
  position: relative;
  text-align: center;
  background: gray url('images/lg-gorilla11.jpg') center / cover no-repeat;
  min-height: 500px;
  filter: grayscale(100%);
}
.home .hero {
  display: flex;
}
.single .hero {
  background-attachment: fixed;
}

.hero-content {
  width: 100%;
  max-width: 600px;
  text-align: center;
  color: #FFFFFF;
}
.home .hero-content {
  margin: auto;
}
.single .hero-content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.hero-content p {
  margin-top: 1em;
}

.column-section .column-section-container {
  columns: 3;
  margin-top: 32px;
}
.column-section-container p {
  margin-top: 16px;
}

.flex-section .inner {
  display: flex;
  flex-direction: column;
}
.flex-section h2 {
  align-self: baseline;
}

.flex-section .flex-section-list {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-section-block {
  background-color: black;
  width: calc(25% - 8px);
  min-width: 250px;
  border: solid 1px white;
  margin: 8px auto 0;
}
.flex-section-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-section .DS-button {
  margin-top: 16px;
}

.DS-button {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  border: 2px solid #000000;
  align-self: center;
  text-decoration: none;
  color: white;
  overflow: hidden;
}
.DS-button-content {
  position: relative;
  z-index: 2;
  color: white;
  transition: color .3s;
}
.DS-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: white;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: .3s;
}
.DS-button:hover::before {
  width: 120%;
  height: 120%;
}
.DS-button:hover .DS-button-content, .DS-button:hover .DS-button {
  color: black;
}


.gorilla-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}
.gorilla-list-item {
  padding: 8px;
  border: black solid 2px;
}
.gorilla-list-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin-right: 8px;
}

.gorilla-list-item a {
  margin-top: 16px;
}

.dossier-top {
  padding-top: 0;
}

.dossier-top .inner {
  display: flex;
  align-items: center;
  height: 100vh;
}

.dossier-top img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.dossier-top-content {
  padding: 0 5%;
  text-align: center;
}

.dossier-top-content p {
  margin-top: 1em;
}

.dossier-top-content a {
  margin-top: 1em;
}

.section-content {
  columns: 4;
  column-gap: 32px;
}

.section-content p:not(:first-child) {
  margin-top: 1em;
}

.strip-image {
  height: 100px;
  margin-bottom: 1em;
}

.strip-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
